# 산림청 공공 빅데이터 공모전
-----
감성 분석 알고리즘<br>
작성자: 김기범

In [86]:
def read_data(filename, encoding='cp949'):
    with open(filename, 'r', encoding=encoding) as f:
        data = [line.split('t') for line in f.read().splitlines()]
        
    return data

def write_data(data, filename, encoding='cp949'):
    with open(filename, 'w', encoding=encoding) as f:
        result = ""
        for d in data:
            sentence = ' '.join(d)
            result += sentence + ".\n"
        f.write(result)

positive = read_data('./data/positive.txt')
negative = read_data('./data/negative.txt')

In [70]:
import pandas as pd

data = pd.read_csv('./data/naver_band_100mountain_scroll5.csv')

In [71]:
print(type(data))
print(len(data))
print(data.keys())

<class 'pandas.core.frame.DataFrame'>
8511
Index(['Unnamed: 0', 'name', 'date', 'content'], dtype='object')

In [72]:
data_content = [data['content'].iloc[i] for i in range(len(data))]

print(len(data_content))
print("sample data for arr>>")
print(data_content[0])

8511
sample data for arr>>
#출석부 #정산 2022.06.07.화욜.오늘은 말이쥬~출석부에,어제 가리산 결산에,오늘 구름산 결산까지를올려야해서....그래서 한번에 쭈~욱 갑니다.이해좀부탁드려욥^^①가리산결산16명참석에 한명 현지참석(회비면제)리딩자제외 15명×35.000=525.000지출 버스비 350.000        입장료.주차료 38.000525.000-388.000=137.000남은 137.000중 130.000원을상우대장주고 뒷풀 비용중 190.000원정도를 보태서 상우가 계산해주셨습니다.너무 많은 금액을부담시켜 미안해~상우야 ^^남은 7.000원 기금으로 입금합니다.②구름산 결산18명참석해서 지출비만큼 적당히거출해서 1차계산을 마쳤는데,다시 추가된 금액 35.000원 총대장이계산해서 남은 금액이 없어요 ㅡㅡ;;③출석부연휴는 잘들 보내셨나효~?^^어떻게,뭐함서 보내셨으효~?^^좋은데 다녀왔음 자랑좀 해봐주세효^^

In [73]:
print("sample data for dataframe >>")
print(data['content'].iloc[0])

sample data for dataframe >>
#출석부 #정산 2022.06.07.화욜.오늘은 말이쥬~출석부에,어제 가리산 결산에,오늘 구름산 결산까지를올려야해서....그래서 한번에 쭈~욱 갑니다.이해좀부탁드려욥^^①가리산결산16명참석에 한명 현지참석(회비면제)리딩자제외 15명×35.000=525.000지출 버스비 350.000        입장료.주차료 38.000525.000-388.000=137.000남은 137.000중 130.000원을상우대장주고 뒷풀 비용중 190.000원정도를 보태서 상우가 계산해주셨습니다.너무 많은 금액을부담시켜 미안해~상우야 ^^남은 7.000원 기금으로 입금합니다.②구름산 결산18명참석해서 지출비만큼 적당히거출해서 1차계산을 마쳤는데,다시 추가된 금액 35.000원 총대장이계산해서 남은 금액이 없어요 ㅡㅡ;;③출석부연휴는 잘들 보내셨나효~?^^어떻게,뭐함서 보내셨으효~?^^좋은데 다녀왔음 자랑좀 해봐주세효^^

In [74]:
import re

asd = re.compile("[^ ㄱ-ㅣ가-힣+]")

for i in range(len(data_content)):
    new_text = asd.sub(" ", str(data_content[i]))
    final_text = re.sub(" +", " ", new_text)
    data_content[i] = final_text

print("sample data after 정규화>>")
print(data_content[0])

sample data after 정규화>>
 출석부 정산 화욜 오늘은 말이쥬 출석부에 어제 가리산 결산에 오늘 구름산 결산까지를올려야해서 그래서 한번에 쭈 욱 갑니다 이해좀부탁드려욥 가리산결산 명참석에 한명 현지참석 회비면제 리딩자제외 명 지출 버스비 입장료 주차료 남은 중 원을상우대장주고 뒷풀 비용중 원정도를 보태서 상우가 계산해주셨습니다 너무 많은 금액을부담시켜 미안해 상우야 남은 원 기금으로 입금합니다 구름산 결산 명참석해서 지출비만큼 적당히거출해서 차계산을 마쳤는데 다시 추가된 금액 원 총대장이계산해서 남은 금액이 없어요 ㅡㅡ 출석부연휴는 잘들 보내셨나효 어떻게 뭐함서 보내셨으효 좋은데 다녀왔음 자랑좀 해봐주세효

In [75]:
import rhinoMorph
rn = rhinoMorph.startRhino()

morphed_data = ""
for i, sentence in enumerate(data_content):
    morphed_data = rhinoMorph.onlyMorph_list(rn, sentence,
                                            pos=['NNG', 'NNP', 'VV', 'VA', 'XR', 'IC', 'MM', 'MAG', 'MAJ'])
    
    if morphed_data:
        data_content[i] = morphed_data

print(data_content[0])

filepath:  /Users/beom/miniforge3/envs/nlp/lib/python3.9/site-packages
classpath:  /Users/beom/miniforge3/envs/nlp/lib/python3.9/site-packages/rhinoMorph/lib/rhino.jar
JVM is already started~
Constructing Dictionaries...
Current mode: python	Current path: /Users/beom/miniforge3/envs/nlp/lib/python3.9/site-packages/rhinoMorph/resource/
RHINO started!Constructing Dictionaries Completed.


['출석부', '정산', '오늘', '말', '출석부', '어제', '가리산', '결산', '오늘', '구름산', '결산', '올리', '그래서', '욱', '가', '이해', '좀', '욥', '가리산', '결산', '명', '참석', '한', '명', '현지', '참석', '회비', '면제', '리딩', '자제', '명', '지출', '버스비', '입장료', '주차료', '남', '원', '상우', '대장', '주', '비용', '원정', '보태', '상우', '계산', '너무', '많', '금액', '부담', '미안', '상우', '남', '원', '기금', '입금', '구름산', '결산', '명', '참석', '하', '지출', '비만', '크', '적당히', '거출', '하', '차', '계산', '마치', '다시', '추가', '되', '금액', '원', '총대장', '계산', '하', '남', '금액', '없', 'ㅡㅡ', '출석부', '연휴', '잘', '보내', '효', '어떻하', '뭐', '보내', '효', '좋', '다니', '오', '자랑', '좀', '하', '봐주', '효']

In [87]:
write_data(data_content, './data/mountain_morphed.txt', 'utf-8')

In [88]:
def cntWordInLine(data, senti):
    senti_found = []
    
    for one_data in data:
        senti_temp = 0
        
        for senti_word in senti:
            if senti_word[0] in one_data:
                senti_temp += 1
                
        senti_found.append(senti_temp)
    
    return senti_found

data_senti_pos_cnt = cntWordInLine(data_content, positive)
data_senti_neg_cnt = cntWordInLine(data_content, negative)

In [90]:
print(data_senti_pos_cnt[:20])
print(data_senti_neg_cnt[:20])

[4, 9, 6, 12, 33, 5, 2, 20, 8, 2, 32, 9, 8, 1, 4, 15, 8, 4, 9, 4]
[2, 2, 0, 16, 16, 2, 1, 33, 2, 4, 24, 5, 11, 1, 3, 9, 6, 2, 16, 0]

In [91]:
import pandas as pd

senti_result = pd.DataFrame({'pos': data_senti_pos_cnt, 'neg': data_senti_neg_cnt})
senti_score = senti_result['pos'] - senti_result['neg']
senti_result['senti_score'] = senti_score

senti_result.loc[senti_result.senti_score >= 0, 'label'] = 1
senti_result.loc[senti_result.senti_score < 0, 'label'] = 0

In [93]:
senti_result.head()

   pos  neg  senti_score  label
0    4    2            2    1.0
1    9    2            7    1.0
2    6    0            6    1.0
3   12   16           -4    0.0
4   33   16           17    1.0

In [94]:
data['label'] = senti_result['label']

In [95]:
data.head()

,Unnamed: 0,name,date,content,label
0,0,가리산,2022-06-06,"#출석부 #정산 2022.06.07.화욜.오늘은 말이쥬~출석부에,어제 가리산 결산에...",1.0
1,1,가리산,2022-06-07,꿀연휴 다들 잘 보내셨죠?지난 토요일 빡센 스케줄 소화를~~~새벽6시출발 북한산 ...,1.0
2,2,가리산,2022-06-05,#출석부 위 세 전사님들 포스 좔좔....ㅎ 멋져!월욜자 출석부를 전날에 쓰다보니....,1.0
3,3,가리산,2022-06-24,9월27일ㅡ10월26일 :코카서스 지역10월26일ㅡ29일 :두바이 스탑바이우리는 ...,0.0
4,4,가리산,2022-05-23,"6/17 밤 출발(금~토) #거제도#노자산, 가리산 종주#거제 파노라마 케이블카#우...",1.0

In [96]:
data.isnull().sum()

Unnamed: 0     0
name           0
date           0
content       19
label          0
dtype: int64

In [98]:
data.to_csv("./data/result_senti_anal.csv", encoding='utf-8-sig')

In [99]:
senti_result.to_csv("./data/senti_result.csv", encoding='utf-8-sig')

In [100]:
print(len(data))
print(len(senti_result))

8511
8511